body {
    background: #eee;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

#game-base {
    width: 640px;
    margin: 0 auto;
    padding-top: 60px;
}

#game-grid {
    width: 434px;
    height: 374px;
    margin: 0 auto;
    border: 5px solid black;
    position: relative;
}

.piece {
    position: absolute;
    z-index: -1;
    top: -55px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: all 0.3s;
}

.piece.red {
    background: red;
}

.piece.yellow {
    background: lightgreen;
}
