
.board{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid black;
    padding: 25px;
}

.column{
    display: flex;
}

.cell{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 5px;
    background-color: white;
}
.cell.red{
    background-color: red;
}
